config.py

__pycache__
*.pyc
.ipynb_checkpoints
.DS_Store
*.pkl
*.o
*.c
*.pdf
figs/
_static/
_templates/
*.png
*.mod
baseline_afno_26.zarr/
34Vars/long/
.nfs*
output/
tmp/
tests/Output.*

*.bak
*.egg-info

*.mp4
*.png
