cartopy>=0.22.0
dacite
gcsfs
h5netcdf
h5py
imageio>=2.28.1
matplotlib
moviepy
netcdf4
numpy
omegaconf>=2.1.0
pandas
plotly
s3fs
tensorly
tensorly-torch
torch-harmonics==0.8.0  # pinned since we use private API
torch>=2
wandb[media]>=0.19.0
xarray
zarr>=3
nvidia-physicsnemo
