h5py
imageio<=2.27.0
moviepy<2.0.0  # should be able to relax this after wandb updates past 0.18.7
netcdf4
numpy<2
wandb[media]
tensorly
tensorly-torch
xarray
dacite
torch
torch-harmonics==0.6.2
zarr
gcsfs
s3fs
plotly
matplotlib
dask
astropy-healpix
pandas
omegaconf>=2.1.0