h5py
imageio<=2.27.0
moviepy
netcdf4
numpy
wandb[media]>=0.19.0
tensorly
tensorly-torch
xarray
dacite
torch>=2
torch-harmonics==0.6.2
zarr
gcsfs
s3fs
plotly
matplotlib
pandas
omegaconf>=2.1.0
h5netcdf
