experiment_dir: /results
save_checkpoint: true
validate_using_ema: true
max_epochs: 120
n_forward_steps: 2
seed: 0
ema:
  decay: 0.999
inference:
  n_forward_steps: 7300
  forward_steps_in_memory: 40
  loader:
    start_indices:
      times:
        - '2009-01-01T00:00:00'
        - '2009-02-15T00:00:00'
        - '2009-04-01T00:00:00'
        - '2009-05-15T00:00:00'
        - '2009-07-01T00:00:00'
        - '2009-08-15T00:00:00'
        - '2009-10-01T00:00:00'
        - '2009-11-15T00:00:00'
    dataset:
      merge:
      - data_path: /climate-default/2024-06-20-era5-1deg-8layer-1940-2022-netcdfs
      - data_path: /climate-default/2025-11-10-era5-1deg-pressure-level-1940-2022
        file_pattern: 2025-11-10-era5-1deg-pressure-level-1940-2022.zarr
        engine: "zarr"
    num_data_workers: 4
  aggregator:
    log_histograms: true
    time_mean_reference_data: /statsdata/time-mean.nc
logging:
  log_to_screen: true
  log_to_wandb: true
  log_to_file: true
  project: ace
  entity: ai2cm
train_loader:
  batch_size: 16
  num_data_workers: 4
  prefetch_factor: 4
  dataset:
    merge:
    - data_path: /climate-default/2024-06-20-era5-1deg-8layer-1940-2022-netcdfs
      subset:
        start_time: '1979-01-01'
        stop_time: '2008-12-31'
    - data_path: /climate-default/2025-11-10-era5-1deg-pressure-level-1940-2022
      subset:
        start_time: '1979-01-01'
        stop_time: '2008-12-31'
      file_pattern: 2025-11-10-era5-1deg-pressure-level-1940-2022.zarr
      engine: "zarr"
validation_loader:
  batch_size: 128
  num_data_workers: 4
  prefetch_factor: 4
  dataset:
    merge:
    - data_path: /climate-default/2024-06-20-era5-1deg-8layer-1940-2022-netcdfs
      subset:
        start_time: '2009-01-01'
        stop_time: '2014-12-31'
        step: 3
    - data_path: /climate-default/2025-11-10-era5-1deg-pressure-level-1940-2022
      file_pattern: 2025-11-10-era5-1deg-pressure-level-1940-2022.zarr
      engine: "zarr"
      subset:
        start_time: '2009-01-01'
        stop_time: '2014-12-31'
        step: 3
optimization:
  use_gradient_accumulation: true
  enable_automatic_mixed_precision: false
  lr: 0.00001
  optimizer_type: AdamW
  kwargs:
    fused: true
    weight_decay: 0.01
stepper:
  loss:
    type: MSE
    weights:
      air_temperature_0: 0.5
      air_temperature_1: 0.5
      eastward_wind_0: 0.5
      northward_wind_0: 0.5
      specific_total_water_0: 0.5
      specific_total_water_1: 0.25
      specific_total_water_2: 0.5
      PRATEsfc: 0.5
      DLWRFsfc: 2
      ULWRFsfc: 5
      USWRFsfc: 2
      DSWRFsfc: 2
      USWRFtoa: 2
      tendency_of_total_water_path_due_to_advection: 0.5
      h50: 0.01
      h100: 0.01
      h150: 0.01
      h200: 0.01
      h250: 0.01
      h300: 0.01
      h400: 0.01
      h500: 0.01
      h600: 0.01
      h700: 0.01
      h850: 0.01
      h925: 0.01
      h1000: 0.01
      TMP50: 0.01
      TMP100: 0.01
      TMP150: 0.01
      TMP200: 0.01
      TMP250: 0.01
      TMP300: 0.01
      TMP400: 0.01
      TMP500: 0.01
      TMP600: 0.01
      TMP700: 0.01
      TMP850: 0.01
      TMP925: 0.01
      TMP1000: 0.01
      TMP2m: 0.01
      Q50: 0.01
      Q100: 0.01
      Q150: 0.01
      Q200: 0.01
      Q250: 0.01
      Q300: 0.01
      Q400: 0.01
      Q500: 0.01
      Q600: 0.01
      Q700: 0.01
      Q850: 0.01
      Q925: 0.01
      Q1000: 0.01
      Q2m: 0.01
      UGRD50: 0.01
      UGRD100: 0.01
      UGRD150: 0.01
      UGRD200: 0.01
      UGRD250: 0.01
      UGRD300: 0.01
      UGRD400: 0.01
      UGRD500: 0.01
      UGRD600: 0.01
      UGRD700: 0.01
      UGRD850: 0.01
      UGRD925: 0.01
      UGRD1000: 0.01
      UGRD10m: 0.01
      VGRD50: 0.01
      VGRD100: 0.01
      VGRD150: 0.01
      VGRD200: 0.01
      VGRD250: 0.01
      VGRD300: 0.01
      VGRD400: 0.01
      VGRD500: 0.01
      VGRD600: 0.01
      VGRD700: 0.01
      VGRD850: 0.01
      VGRD925: 0.01
      VGRD1000: 0.01
      VGRD10: 0.01
  parameter_init:
    weights_path: /base_weights/ckpt.tar
    parameters:
      - frozen:
          include:
            - (?!conditional_model.decoder)*
          exclude:
            - conditional_model.decoder.*
  step:
    type: single_module
    config:
      builder:
        type: NoiseConditionedSFNO
        config:
          embed_dim: 384
          noise_embed_dim: 0
          filter_type: linear
          use_mlp: true
          num_layers: 8
          operator_type: dhconv
          separable: false
          spectral_layers: 3
          spectral_transform: sht
      normalization:
        network:
          global_means_path: /statsdata/centering.nc
          global_stds_path: /statsdata/scaling-full-field.nc
        residual:
          global_means_path: /statsdata/centering.nc
          global_stds_path: /statsdata/scaling-residual.nc
      ocean:
        surface_temperature_name: surface_temperature
        ocean_fraction_name: ocean_fraction
      corrector:
        conserve_dry_air: true
        moisture_budget_correction: advection_and_precipitation
        force_positive_names:
        - specific_total_water_0
        - specific_total_water_1
        - specific_total_water_2
        - specific_total_water_3
        - specific_total_water_4
        - specific_total_water_5
        - specific_total_water_6
        - specific_total_water_7
        - PRATEsfc
        - ULWRFsfc
        - ULWRFtoa
        - DLWRFsfc
        - DSWRFsfc
        - USWRFsfc
        - USWRFtoa
      next_step_forcing_names:
      - DSWRFtoa
      in_names:
      - land_fraction
      - ocean_fraction
      - sea_ice_fraction
      - DSWRFtoa
      - HGTsfc
      - PRESsfc
      - surface_temperature
      - air_temperature_0
      - air_temperature_1
      - air_temperature_2
      - air_temperature_3
      - air_temperature_4
      - air_temperature_5
      - air_temperature_6
      - air_temperature_7
      - specific_total_water_0
      - specific_total_water_1
      - specific_total_water_2
      - specific_total_water_3
      - specific_total_water_4
      - specific_total_water_5
      - specific_total_water_6
      - specific_total_water_7
      - eastward_wind_0
      - eastward_wind_1
      - eastward_wind_2
      - eastward_wind_3
      - eastward_wind_4
      - eastward_wind_5
      - eastward_wind_6
      - eastward_wind_7
      - northward_wind_0
      - northward_wind_1
      - northward_wind_2
      - northward_wind_3
      - northward_wind_4
      - northward_wind_5
      - northward_wind_6
      - northward_wind_7
      out_names:
      - PRESsfc
      - surface_temperature
      - air_temperature_0
      - air_temperature_1
      - air_temperature_2
      - air_temperature_3
      - air_temperature_4
      - air_temperature_5
      - air_temperature_6
      - air_temperature_7
      - specific_total_water_0
      - specific_total_water_1
      - specific_total_water_2
      - specific_total_water_3
      - specific_total_water_4
      - specific_total_water_5
      - specific_total_water_6
      - specific_total_water_7
      - eastward_wind_0
      - eastward_wind_1
      - eastward_wind_2
      - eastward_wind_3
      - eastward_wind_4
      - eastward_wind_5
      - eastward_wind_6
      - eastward_wind_7
      - northward_wind_0
      - northward_wind_1
      - northward_wind_2
      - northward_wind_3
      - northward_wind_4
      - northward_wind_5
      - northward_wind_6
      - northward_wind_7
      - LHTFLsfc
      - SHTFLsfc
      - PRATEsfc
      - ULWRFsfc
      - ULWRFtoa
      - DLWRFsfc
      - DSWRFsfc
      - USWRFsfc
      - USWRFtoa
      - tendency_of_total_water_path_due_to_advection
      - h50
      - h100
      - h150
      - h200
      - h250
      - h300
      - h400
      - h500
      - h600
      - h700
      - h850
      - h925
      - h1000
      - TMP50
      - TMP100
      - TMP150
      - TMP200
      - TMP250
      - TMP300
      - TMP400
      - TMP500
      - TMP600
      - TMP700
      - TMP850
      - TMP925
      - TMP1000
      - TMP2m
      - Q50
      - Q100
      - Q150
      - Q200
      - Q250
      - Q300
      - Q400
      - Q500
      - Q600
      - Q700
      - Q850
      - Q925
      - Q1000
      - Q2m
      - UGRD50
      - UGRD100
      - UGRD150
      - UGRD200
      - UGRD250
      - UGRD300
      - UGRD400
      - UGRD500
      - UGRD600
      - UGRD700
      - UGRD850
      - UGRD925
      - UGRD1000
      - UGRD10m
      - VGRD50
      - VGRD100
      - VGRD150
      - VGRD200
      - VGRD250
      - VGRD300
      - VGRD400
      - VGRD500
      - VGRD600
      - VGRD700
      - VGRD850
      - VGRD925
      - VGRD1000
      - VGRD10m