experiment_dir: /results
save_checkpoint: true
validate_using_ema: true
ema:
  decay: 0.999
max_epochs: 50 # this is about equivalent to the amount of trainign for ACE2-ERA5/ACE2-SHiELD
n_forward_steps: 2
inference:
  n_forward_steps: 7300 # 5 years
  forward_steps_in_memory: 50
  loader:
    start_indices:
      times:
        # total of 120 years with 5yr rollouts
        - "0301-01-01T06:00:00"
        - "0301-03-01T00:00:00"
        - "0301-04-29T00:00:00"
        - "0301-06-26T18:00:00"
        - "0301-08-24T18:00:00"
        - "0301-10-22T12:00:00"
        - "0301-12-20T12:00:00"
        - "0302-02-17T06:00:00"
        - "0302-04-17T06:00:00"
        - "0302-06-15T00:00:00"
        - "0302-08-13T00:00:00"
        - "0302-10-10T18:00:00"
        - "0302-12-08T18:00:00"
        - "0303-02-05T12:00:00"
        - "0303-04-05T12:00:00"
        - "0303-06-03T06:00:00"
        - "0303-08-01T06:00:00"
        - "0303-09-29T00:00:00"
        - "0303-11-27T00:00:00"
        - "0304-01-24T18:00:00"
        - "0304-03-24T18:00:00"
        - "0304-05-22T12:00:00"
        - "0304-07-20T12:00:00"
        - "0304-09-17T06:00:00"
        - "0304-11-15T06:00:00"
        - "0305-01-13T00:00:00"
        - "0305-03-13T00:00:00"
        - "0305-05-10T18:00:00"
        - "0305-07-08T18:00:00"
        - "0305-09-05T12:00:00"
        - "0305-11-03T12:00:00"
        - "0306-01-01T06:00:00"
    dataset:
      data_path: /climate-default
      file_pattern: 2025-03-21-CM4-piControl-atmosphere-land-1deg-8layer-200yr.zarr
      engine: zarr
    num_data_workers: 4
  aggregator:
    log_histograms: true
    time_mean_reference_data: /statsdata/time-mean.nc
logging:
  log_to_screen: true
  log_to_wandb: true
  log_to_file: true
  project: ace2-cm4
  entity: ai2cm
train_loader:
  batch_size: 16
  num_data_workers: 16
  prefetch_factor: 4
  dataset:
    data_path: /climate-default
    file_pattern: 2025-03-21-CM4-piControl-atmosphere-land-1deg-8layer-200yr.zarr
    engine: zarr
    subset:
      stop_time: '0301-01-01T06:00:00'
validation_loader:
  batch_size: 64
  num_data_workers: 16
  prefetch_factor: 4
  dataset:
    data_path: /climate-default
    file_pattern: 2025-03-21-CM4-piControl-atmosphere-land-1deg-8layer-200yr.zarr
    engine: zarr
    subset:
      start_time: '0301-01-01T06:00:00'
      stop_time: '0311-01-01T06:00:00'
optimization:
  use_gradient_accumulation: true
  enable_automatic_mixed_precision: false
  lr: 0.0001
  optimizer_type: AdamW
  kwargs:
    fused: true
    weight_decay: 0.01
stepper_training:
  loss:
    type: MSE
    weights:
      air_temperature_0: 0.5
      air_temperature_1: 0.5
      eastward_wind_0: 0.5
      northward_wind_0: 0.5
      specific_total_water_0: 0.5
      specific_total_water_1: 0.25
      specific_total_water_2: 0.5
      PRATEsfc: 0.5
      h500: 10
      TMP850: 5
      Q2m: 0.5
      DLWRFsfc: 2
      ULWRFsfc: 5
      USWRFsfc: 2
      DSWRFsfc: 2
      USWRFtoa: 2
      tendency_of_total_water_path_due_to_advection: 0.5
stepper:
  step:
    type: single_module
    config:
      builder:
        type: NoiseConditionedSFNO
        config:
          embed_dim: 384
          noise_embed_dim: 0
          filter_type: linear
          use_mlp: true
          num_layers: 8
          operator_type: dhconv
          separable: false
          spectral_layers: 3
          spectral_transform: sht
      normalization:
        network:
          global_means_path: /statsdata/centering.nc
          global_stds_path: /statsdata/scaling-full-field.nc
        residual:
          global_means_path: /statsdata/centering.nc
          global_stds_path: /statsdata/scaling-residual.nc
      ocean:
        surface_temperature_name: surface_temperature
        ocean_fraction_name: ocean_fraction
      corrector:
        conserve_dry_air: true
        moisture_budget_correction: advection_and_precipitation
        force_positive_names:
        - specific_total_water_0
        - specific_total_water_1
        - specific_total_water_2
        - specific_total_water_3
        - specific_total_water_4
        - specific_total_water_5
        - specific_total_water_6
        - specific_total_water_7
        - Q2m
        - PRATEsfc
        - ULWRFsfc
        - ULWRFtoa
        - DLWRFsfc
        - DSWRFsfc
        - USWRFsfc
        - USWRFtoa
      next_step_forcing_names:
      - DSWRFtoa
      in_names:
      - land_fraction
      - ocean_fraction
      - sea_ice_fraction
      - DSWRFtoa
      - HGTsfc
      - PRESsfc
      - surface_temperature
      - TMP2m
      - Q2m
      - UGRD10m
      - VGRD10m
      - air_temperature_0
      - air_temperature_1
      - air_temperature_2
      - air_temperature_3
      - air_temperature_4
      - air_temperature_5
      - air_temperature_6
      - air_temperature_7
      - specific_total_water_0
      - specific_total_water_1
      - specific_total_water_2
      - specific_total_water_3
      - specific_total_water_4
      - specific_total_water_5
      - specific_total_water_6
      - specific_total_water_7
      - eastward_wind_0
      - eastward_wind_1
      - eastward_wind_2
      - eastward_wind_3
      - eastward_wind_4
      - eastward_wind_5
      - eastward_wind_6
      - eastward_wind_7
      - northward_wind_0
      - northward_wind_1
      - northward_wind_2
      - northward_wind_3
      - northward_wind_4
      - northward_wind_5
      - northward_wind_6
      - northward_wind_7
      out_names:
      - PRESsfc
      - surface_temperature
      - TMP2m
      - Q2m
      - UGRD10m
      - VGRD10m
      - air_temperature_0
      - air_temperature_1
      - air_temperature_2
      - air_temperature_3
      - air_temperature_4
      - air_temperature_5
      - air_temperature_6
      - air_temperature_7
      - specific_total_water_0
      - specific_total_water_1
      - specific_total_water_2
      - specific_total_water_3
      - specific_total_water_4
      - specific_total_water_5
      - specific_total_water_6
      - specific_total_water_7
      - eastward_wind_0
      - eastward_wind_1
      - eastward_wind_2
      - eastward_wind_3
      - eastward_wind_4
      - eastward_wind_5
      - eastward_wind_6
      - eastward_wind_7
      - northward_wind_0
      - northward_wind_1
      - northward_wind_2
      - northward_wind_3
      - northward_wind_4
      - northward_wind_5
      - northward_wind_6
      - northward_wind_7
      - LHTFLsfc
      - SHTFLsfc
      - PRATEsfc
      - ULWRFsfc
      - ULWRFtoa
      - DLWRFsfc
      - DSWRFsfc
      - USWRFsfc
      - USWRFtoa
      - tendency_of_total_water_path_due_to_advection
      - TMP850
      - h500
      # ocean coupling variables (diagnostic for now)
      - eastward_surface_wind_stress
      - northward_surface_wind_stress