experiment_dir: /results
save_checkpoint: true
validate_using_ema: true
ema:
  decay: 0.999
max_epochs: 20
n_coupled_steps: 4
inference:
  n_coupled_steps: 1456
  coupled_steps_in_memory: 8
  loader:
    num_data_workers: 1
    dataset:
      ocean:
        merge:
        - data_path: /climate-default
          file_pattern: 2025-06-03-cm4-piControl-200yr-coupled-ocean.zarr
          engine: zarr
          subset:
            start_time: '0151-01-06'
        - data_path: /climate-default
          file_pattern: 2025-04-16-cm4-piControl-ocean-200yr-dataset.zarr
          engine: zarr
          subset:
            start_time: '0151-01-06'
      atmosphere:
        merge:
        - data_path: /climate-default
          file_pattern: 2025-06-03-cm4-piControl-200yr-coupled-interpolate_sst-atmosphere.zarr
          engine: zarr
          subset:
            # NOTE: this is required to align the atmosphere and ocean start times
            start_time: '0151-01-06'
        - data_path: /climate-default
          file_pattern: 2025-03-21-CM4-piControl-atmosphere-land-1deg-8layer-200yr.zarr
          engine: zarr
          subset:
            # NOTE: this is required to align the atmosphere and ocean start times
            start_time: '0151-01-06'
    start_indices:
      times:
        - '0151-01-06T00:00:00'
        - '0171-01-06T00:00:00'
        - '0191-01-06T00:00:00'
        - '0211-01-06T00:00:00'
        - '0231-01-06T00:00:00'
        - '0251-01-06T00:00:00'
        - '0271-01-06T00:00:00'
        - '0291-01-06T00:00:00'
  aggregator:
    log_zonal_mean_images: false
    log_histograms: false
logging:
  log_to_screen: true
  log_to_wandb: true
  log_to_file: true
  project: ace-samudra-coupled-cm4
  entity: ai2cm
train_loader:
  batch_size: 16
  num_data_workers: 4
  prefetch_factor: 1
  dataset:
    - ocean:
        merge:
        - data_path: /climate-default
          file_pattern: 2025-06-03-cm4-piControl-200yr-coupled-ocean.zarr
          engine: zarr
          subset:
            start_time: '0151-01-06'
            stop_time: '0306-01-01'
        - data_path: /climate-default
          file_pattern: 2025-04-16-cm4-piControl-ocean-200yr-dataset.zarr
          engine: zarr
          subset:
            start_time: '0151-01-06'
            stop_time: '0306-01-01'
      atmosphere:
        merge:
        - data_path: /climate-default
          file_pattern: 2025-06-03-cm4-piControl-200yr-coupled-interpolate_sst-atmosphere.zarr
          engine: zarr
          subset:
            start_time: '0151-01-06'
            stop_time: '0306-01-01'
        - data_path: /climate-default
          file_pattern: 2025-03-21-CM4-piControl-atmosphere-land-1deg-8layer-200yr.zarr
          engine: zarr
          subset:
            start_time: '0151-01-06'
            stop_time: '0306-01-01'
validation_loader:
  batch_size: 16
  num_data_workers: 4
  prefetch_factor: 1
  dataset:
    - ocean:
        merge:
        - data_path: /climate-default
          file_pattern: 2025-06-03-cm4-piControl-200yr-coupled-ocean.zarr
          engine: zarr
          subset:
            start_time: '0306-01-01'
            stop_time: '0311-01-01'
        - data_path: /climate-default
          file_pattern: 2025-04-16-cm4-piControl-ocean-200yr-dataset.zarr
          engine: zarr
          subset:
            start_time: '0306-01-01'
            stop_time: '0311-01-01'
      atmosphere:
        merge:
        - data_path: /climate-default
          file_pattern: 2025-06-03-cm4-piControl-200yr-coupled-interpolate_sst-atmosphere.zarr
          engine: zarr
          subset:
            start_time: '0306-01-01'
            stop_time: '0311-01-01'
        - data_path: /climate-default
          file_pattern: 2025-03-21-CM4-piControl-atmosphere-land-1deg-8layer-200yr.zarr
          engine: zarr
          subset:
            start_time: '0306-01-01'
            stop_time: '0311-01-01'
optimization:
  enable_automatic_mixed_precision: false
  lr: 0.0001
  optimizer_type: FusedAdam
  kwargs:
    weight_decay: 0.01
  use_gradient_accumulation: true
stepper:
  ocean_fraction_prediction:
    land_fraction_name: land_fraction
    sea_ice_fraction_name_in_atmosphere: sea_ice_fraction
  sst_name: sst
  ocean:
    timedelta: 5D
    stepper:
      parameter_init:
        weights_path: /ocean_ckpt.tar
  atmosphere:
    timedelta: 6h
    loss_contributions:
      n_steps: 0
    stepper:
      parameter_init:
        weights_path: /atmos_ckpt.tar
        parameters:
          - frozen:
              include:
                - '*'
