h5py
imageio<=2.27.0
moviepy
netcdf4
numpy<2
wandb
tensorly
tensorly-torch
xarray
dacite
torch
torch-harmonics@git+https://github.com/NVIDIA/torch-harmonics.git@8826246cacf6c37b600cdd63fde210815ba238fd
zarr
gcsfs
s3fs
plotly
matplotlib
dask
astropy-healpix