base_config: &BASE_CONFIG

    nettype: 'afno'
    patch_size: 8
    num_blocks: 8
    embed_dim: 768
    depth: 12
    normalization_layer: 'instance_norm'
    hard_thresholding_fraction: 1.0 # turning it off for now
    verbose: !!bool False
    # skip_fno: 'identity' # 'linear', 'identity' or None
    # nested_skip_fno: !!bool True # whether to nest the inner skip connection or have it be sequential, inside the AFNO block

    loss: 'geometric l2'
    lr: 5E-4

    # n_years: 1
    # n_train_samples: 16
    # n_train_samples_per_year: 1460
    # n_eval_samples: 160

    max_epochs: 150
    batch_size: 64

    scheduler: 'CosineAnnealingLR' # 'ReduceLROnPlateau'
    scheduler_T_max: 150
    lr_warmup_steps: 0
    weight_decay: 0.0 # 0.1

    # wireup stuff
    wireup_info: 'mpi'
    wireup_store: 'tcp'

    train_data_path: '/train'
    valid_data_path: '/test'
    exp_dir: '/runs'

    num_data_workers: 4
    dt: 1 # how many timesteps ahead the model will predict
    n_history: 0 #how many previous timesteps to consider
    prediction_type: 'iterative'
    prediction_length: 35 #applicable only if prediction_type == 'iterative'
    n_initial_conditions: 5 #applicable only if prediction_type == 'iterative'
    valid_autoreg_steps: 20 # number of autoregressive steps for validation

    ics_type: 'specify_number'
    save_raw_forecasts: !!bool True
    save_channel: !!bool False
    masked_acc: !!bool False
    maskpath: None
    perturb: !!bool False
    add_noise: !!bool False
    noise_std: 0.

    add_grid: !!bool False
    N_grid_channels: 0
    gridtype: 'sinusoidal' #options 'sinusoidal' or 'linear'
    roll: !!bool False

    #options default, residual
    target: 'default'

    in_channels: [0, 1 ,2]
    out_channels: [0, 1 ,2]
    normalization: 'zscore' #options zscore or minmax

    min_path: '/stats/mins.npy'
    max_path: '/stats/maxs.npy'
    time_means_path:   '/stats/time_means.npy'
    global_means_path: '/stats/global_means.npy'
    global_stds_path:  '/stats/global_stds.npy'

    orography: !!bool False
    orography_path: None

    finetune: !!bool False

    log_to_screen: !!bool True
    log_to_wandb: !!bool True
    log_video: 5 # if > 0 will log every i-th epoch
    save_checkpoint: !!bool True

    enable_nhwc: !!bool False
    optimizer_type: 'FusedLAMB'
    optimizer_beta1: 0.9
    optimizer_beta2: 0.999
    optimizer_max_grad_norm: 1.0
    crop_size_x: None
    crop_size_y: None

    two_step_training: !!bool False
    plot_animations: !!bool False

    # Weights and biases configuration
    wandb_name: None # If None, config will be used but you can override it here
    wandb_group: None # If None, will be 'era5_wind' + config, but you can override it here
    wandb_project: "euclid"
    wandb_entity: "bbonev" # but your username here
    wandb_api_key: "02616d14aede6f7c930ac5dd12666bfec8a1b19f"

afno_baseline: &AFNO_BASELINE
    <<: *BASE_CONFIG
    spectral_transform: 'fft'

    in_channels: [0, 1 ,2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
    out_channels: [0, 1 ,2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

gafno_baseline: &GAFNO_BASELINE
    <<: *BASE_CONFIG
    spectral_transform: 'sht'

    in_channels: [0, 1 ,2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
    out_channels: [0, 1 ,2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

afno_26ch:
    <<: *AFNO_BASELINE
    in_channels: [0, 1 ,2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
    out_channels: [0, 1 ,2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

gafno_26ch:
    <<: *GAFNO_BASELINE
    in_channels: [0, 1 ,2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
    out_channels: [0, 1 ,2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

