base_config: &BASE_CONFIG

    nettype: 'hafno'
    scale_factor: 4
    num_blocks: 8
    embed_dim: 256
    num_layers: 12
    complex_activation: 'real'
    normalization_layer: 'instance_norm'
    hard_thresholding_fraction: 1.0 # turning it off for now
    verbose: !!bool False
    # skip_fno: 'identity' # 'linear', 'identity' or None
    # nested_skip_fno: !!bool True # whether to nest the inner skip connection or have it be sequential, inside the AFNO block

    loss: 'weighted geometric l2'
    lr: 1E-3

    # n_years: 1
    # n_train_samples: 160
    # n_train_samples_per_year: 1460
    n_eval_samples: 160

    max_epochs: 150
    batch_size: 64

    scheduler: 'CosineAnnealingLR' # 'ReduceLROnPlateau'
    scheduler_T_max: 150
    lr_warmup_steps: 0
    weight_decay: 0.0 # 0.1

    # wireup stuff
    wireup_info: 'mpi'
    wireup_store: 'tcp'

    train_data_path: '/train'
    valid_data_path: '/test'
    exp_dir: '/runs'

    num_data_workers: 4
    dt: 1 # how many timesteps ahead the model will predict
    n_history: 0 #how many previous timesteps to consider
    prediction_type: 'iterative'
    prediction_length: 35 #applicable only if prediction_type == 'iterative'
    n_initial_conditions: 5 #applicable only if prediction_type == 'iterative'
    valid_autoreg_steps: 20 # number of autoregressive steps for validation

    ics_type: 'specify_number'
    save_raw_forecasts: !!bool True
    save_channel: !!bool False
    masked_acc: !!bool False
    maskpath: None
    perturb: !!bool False
    add_noise: !!bool False
    noise_std: 0.

    add_grid: !!bool False
    N_grid_channels: 0
    gridtype: 'sinusoidal' #options 'sinusoidal' or 'linear'
    roll: !!bool False

    #options default, residual
    target: 'default'

    in_channels: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
    out_channels: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
    channel_names: ['u10', 'v10', 't2m', 'sp', 'msl', 't850', 'u1000', 'v1000', 'z1000', 'u850', 'v850', 'z850', 'u500', 'v500', 'z500', 't500', 'z50', 'r500', 'r850', 'tcwv', 'u100m', 'v100m', 'u250', 'v250', 'z250', 't250', 'u100', 'v100', 'z100', 't100', 'u900', 'v900', 'z900', 't900']
    normalization: 'zscore' #options zscore or minmax or none

    min_path: '/stats/mins.npy'
    max_path: '/stats/maxs.npy'
    time_means_path:   '/stats/time_means.npy'
    global_means_path: '/stats/global_means.npy'
    global_stds_path:  '/stats/global_stds.npy'

    orography: !!bool False
    orography_path: None

    finetune: !!bool False

    log_to_screen: !!bool True
    log_to_wandb: !!bool True
    log_video: 5 # if > 0 will log every i-th epoch
    save_checkpoint: !!bool True

    enable_nhwc: !!bool False
    optimizer_type: 'FusedAdam'
    optimizer_beta1: 0.9
    optimizer_beta2: 0.95
    optimizer_max_grad_norm: 32
    crop_size_x: None
    crop_size_y: None

    two_step_training: !!bool False
    plot_animations: !!bool False

    # Weights and biases configuration
    wandb_name: None # If None, config will be used but you can override it here
    wandb_group: None # If None, will be 'era5_wind' + config, but you can override it here
    wandb_project: 'riemann'
    wandb_entity: 'bbonev' # but your username here
    wandb_api_key: '02616d14aede6f7c930ac5dd12666bfec8a1b19f'

hafno_baseline: &HAFNO_BASELINE
    <<: *BASE_CONFIG
    spectral_transform: 'sht'
    complex_activation: 'real'

    loss: 'weighted geometric l2'
    lr: 6E-4

    use_mlp: !!bool True
    num_layers: 8
    scale_factor: 6
    embed_dim: 384
    pos_embed_dim: 128

    spectral_layers: 3

hafno_baseline_26ch: &HAFNO_BASELINE_26CH
    <<: *HAFNO_BASELINE


# hafno_drop_26ch:
#     <<: *HAFNO_BASELINE

#     drop_path_rate: 0.5
#     drop_rate: 0.5

hafno_baseline_26ch_2step: &HAFNO_BASELINE_26CH_FINETUNING
    <<: *HAFNO_BASELINE_26CH
    
    multigrid_mode: 'none'
    lr: 1E-4
    
    max_epochs: 10
    scheduler_T_max: 1000 
    finetune: !!bool True
    enable_amp: !!bool False

    pretrained_checkpoint_path: '/runs/hafno_baseline_26ch/ngpu64_mp1_sp1/training_checkpoints/best_ckpt_mp0.tar'

hafno_baseline_26ch_3step:
    <<: *HAFNO_BASELINE_26CH_FINETUNING

    pretrained_checkpoint_path: '/runs/hafno_baseline_26ch_2step/ngpu64_mp1_sp1/training_checkpoints/best_ckpt_mp0.tar'

hafno_baseline_26ch_rescaled:
    <<: *HAFNO_BASELINE_26CH_FINETUNING
    scale_factor: 4

    pretrained_checkpoint_path: '/runs/hafno_baseline_26ch/ngpu64_mp1_sp1/training_checkpoints/best_ckpt_mp0.tar'

hafno_baseline_26ch_rescaled_2step:
    <<: *HAFNO_BASELINE_26CH_FINETUNING
    scale_factor: 6

    pretrained_checkpoint_path: '/runs/hafno_baseline_26ch_rescaled/ngpu64_mp1_sp1/training_checkpoints/best_ckpt_mp0.tar'

hafno_baseline_26ch_splayers5:
    <<: *HAFNO_BASELINE

    lr: 2E-3
    spectral_layers: 5

hafno_baseline_freq_embedding_mod:
    <<: *HAFNO_BASELINE

    embed_freqs: 10

hafno_baseline_pos_embedding_mod:
    <<: *HAFNO_BASELINE

    embed_pos: 10

hafno_baseline_26ch_edim512_mlp2:
    <<: *HAFNO_BASELINE

    embed_dim: 512
    pos_embed_dim: 128

# hafno_baseline_26ch_bias:
#     <<: *HAFNO_BASELINE

#     spectral_bias: !!bool True


# hfno_baseline: &HFNO_BASELINE
#     <<: *BASE_CONFIG
#     spectral_transform: 'sht'
#     nettype: 'hfno'

#     loss: 'weighted geometric l2'

#     use_mlp: !!bool True
#     num_layers: 8
#     scale_factor: 6
#     embed_dim: 384

#     compression: 'tt'
#     rank: 16





# hafno_baseline_34ch: &HAFNO_BASELINE_34CH
#     <<: *HAFNO_BASELINE

#     in_channels: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]
#     out_channels: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]



# hafno_sc6_layers8_edim384_real_mlp_splayers3:
#     <<: *HAFNO_SC6_LAYERS12_EDIM384_REAL
#     use_mlp: !!bool True
#     num_layers: 8
#     num_blocks: 1
#     spectral_layers: 3

# hafno_sc6_layers8_edim384_real_mlp_splayers2_freqs:
#     <<: *HAFNO_SC6_LAYERS12_EDIM384_REAL
#     use_mlp: !!bool True
#     num_layers: 8
#     spectral_layers: 2

# hafno_sc6_layers8_edim384_real_mlp_splayers2_freq_embed:
#     <<: *HAFNO_SC6_LAYERS12_EDIM384_REAL
#     use_mlp: !!bool True
#     num_layers: 8
#     spectral_layers: 2


# this was used to train models with freq embeddings
# hafno_sc6_layers8_edim384_real_mlp_splayers2L_freq_embed:
#     <<: *HAFNO_SC6_LAYERS12_EDIM384_REAL
#     use_mlp: !!bool True
#     num_layers: 8
#     spectral_layers: 2

# hafno_sc6_layers8_edim384_real_mlp_splayers2L_freq_embed_finetune:
#     <<: *HAFNO_SC6_LAYERS12_EDIM384_REAL
#     use_mlp: !!bool True
#     num_layers: 8
#     spectral_layers: 2

#     multigrid_mode: 'none'
#     lr: 1E-4
#     # checkpointing: !!bool True
    
#     scheduler_T_max: 50
#     finetune: !!bool True
#     enable_amp: !!bool False

#     pretrained_checkpoint_path: '/runs/hafno_sc6_layers8_edim384_real_mlp_splayers2L_freq_embed/ngpu64_mp1_sp1/training_checkpoints/best_ckpt_mp0.tar'



# hafno_sc6_layers18_edim384_real:
#     <<: *HAFNO_SC6_LAYERS12_EDIM384_REAL

#     num_layers: 18
#     complex_activation: 'real'

# hafno_sc6_layers12_edim384_modulus:
#     <<: *HAFNO_SC6_LAYERS12_EDIM384_REAL

#     complex_activation: 'modulus'

# hafno_sc6_layers12_edim384_modulus_corrected:
#     <<: *HAFNO_SC6_LAYERS12_EDIM384_REAL

#     complex_activation: 'modulus'

# hafno_sc6_layers18_edim384_modulus:
#     <<: *HAFNO_SC6_LAYERS12_EDIM384_REAL

#     num_layers: 18
#     complex_activation: 'modulus'

# hfno_baseline: &HFNO_BASELINE
#     <<: *BASE_CONFIG
#     nettype: 'hfno'
#     spectral_transform: 'sht'
#     complex_activation: 'real'

#     num_layers: 8
#     embed_dim: 128
#     scale_factor: 4

#     hard_thresholding_fraction: 1.0

# # currently submitted
# hfno_26ch_sc4_layers8_edim128_tt64:
#     <<: *HFNO_BASELINE
#     compression: 'tt'
#     rank: 64

###########
# This here is for training a winning model
###########