name: beaker

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  # Add a button to manually trigger the workflow
  workflow_dispatch:

jobs:
  evaluator:
    runs-on: ubuntu-latest
    # Only deploy on manual trigger or push to main
    if: ${{ github.event_name == 'workflow_dispatch' || (github.event_name == 'push' && github.ref == 'refs/heads/main') }}
    env:
      BEAKER_TOKEN: ${{ secrets.BEAKER_TOKEN }}
      BEAKER_WORKSPACE: ai2/ace-ci-tests
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Read BEAKER_IMAGE from file
        id: image
        run: echo "BEAKER_IMAGE=$(cat latest_deps_only_image.txt)" >> $GITHUB_OUTPUT

      - name: Determine current commit SHA (pull request)
        if: github.event_name == 'pull_request'
        run: |
          echo "COMMIT_SHA=${{ github.event.pull_request.head.sha }}" >> $GITHUB_ENV

      - name: Determine current commit SHA (push)
        if: github.event_name != 'pull_request'
        run: |
          echo "COMMIT_SHA=$GITHUB_SHA" >> $GITHUB_ENV

      - name: Shortened commit SHA
        run: |
          echo "COMMIT_SHA_SHORT=$(echo "$GITHUB_SHA" | cut -c1-6)" >> $GITHUB_ENV

      - name: Integration tests
        uses: allenai/beaker-run-action@v1.2
        with:
          spec: |
            version: v2
            description: CI standalone inference evaluator test
            budget: ai2/climate
            tasks:
              - name: ace-inference-test
                image:
                  beaker: ${{ steps.image.outputs.BEAKER_IMAGE }}
                context:
                  priority: normal
                  preemptible: true
                resources:
                  gpuCount: 1
                  sharedMemory: 10 GiB
                constraints:
                  cluster:
                    - ai2/saturn-cirrascale
                    - ai2/jupiter-cirrascale-2
                    - ai2/augusta-google-1
                datasets:
                  - mountPath: /test-data
                    source:
                      beaker: elynn/ci-inference
                envVars:
                  - name: COMMIT_SHA
                    value: ${{ env.COMMIT_SHA }}
                  - name: TMP_GITHUB_TOKEN
                    value: ${{ secrets.GITHUB_TOKEN }}
                  - name: WANDB_API_KEY
                    secret: wandb-api-key-ai2cm-sa
                command: ["/entrypoint.sh"]
                result:
                  path: /results
          token: ${{ env.BEAKER_TOKEN }}
          workspace: ${{ env.BEAKER_WORKSPACE }}
          name: ci-ace-evaluator-${{ env.COMMIT_SHA_SHORT }}
