name: tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  cpu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set environment variables
        run: |
          echo "CURRENT_WEEK=$(date +'%Y-%U')" >> $GITHUB_ENV
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - uses: actions/cache@v4
        with:
          path: ${{ env.pythonLocation }}
          key: v1-${{ env.CURRENT_WEEK }}-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml') }}-${{ hashFiles('requirements-healpix.txt') }}-${{ hashFiles('constraints.txt') }}
      - name: Install dependencies
        run: |
          python -m pip install uv
          # can't use --system here because it doesn't work with --no-build-isolation and a healpix dependency
          uv venv --python 3.11
          uv pip install -c constraints.txt -e .[dev]
          uv pip install --no-build-isolation -c constraints.txt -e .[dev,healpix,graphcast]
      - name: Run pytest with code coverage
        run: |
          source .venv/bin/activate
          make test_cov
          # matrix for parallel tests
          # | backend | WS | H | W |
          # | ------- | -- | - | - |
          # | torch   |  2 | 1 | 1 |
          # | torch   |  3 | 1 | 1 |
          # | model   |  3 | 1 | 1 |
          # | model   |  2 | 2 | 1 |
          # | model   |  2 | 1 | 2 |
          # | model   |  3 | 3 | 1 |
          # | model   |  3 | 1 | 3 |
          # | model   |  4 | 2 | 2 |
          # | model   |  4 | 2 | 1 |
          # | model   |  8 | 2 | 2 |
          NPROC=2  FME_DISTRIBUTED_BACKEND=torch FME_DISTRIBUTED_H=1 FME_DISTRIBUTED_W=1 make test_parallel
          NPROC=3  FME_DISTRIBUTED_BACKEND=torch FME_DISTRIBUTED_H=1 FME_DISTRIBUTED_W=1 make test_parallel
          NPROC=3  FME_DISTRIBUTED_BACKEND=model FME_DISTRIBUTED_H=1 FME_DISTRIBUTED_W=1 make test_parallel
          NPROC=2  FME_DISTRIBUTED_BACKEND=model FME_DISTRIBUTED_H=2 FME_DISTRIBUTED_W=1 make test_parallel
          NPROC=2  FME_DISTRIBUTED_BACKEND=model FME_DISTRIBUTED_H=1 FME_DISTRIBUTED_W=2 make test_parallel
          NPROC=3  FME_DISTRIBUTED_BACKEND=model FME_DISTRIBUTED_H=3 FME_DISTRIBUTED_W=1 make test_parallel
          NPROC=3  FME_DISTRIBUTED_BACKEND=model FME_DISTRIBUTED_H=1 FME_DISTRIBUTED_W=3 make test_parallel
          NPROC=4  FME_DISTRIBUTED_BACKEND=model FME_DISTRIBUTED_H=2 FME_DISTRIBUTED_W=2 make test_parallel
          NPROC=4  FME_DISTRIBUTED_BACKEND=model FME_DISTRIBUTED_H=2 FME_DISTRIBUTED_W=1 make test_parallel
          NPROC=8  FME_DISTRIBUTED_BACKEND=model FME_DISTRIBUTED_H=2 FME_DISTRIBUTED_W=2 make test_parallel
  cpu-very-fast-no-healpix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set environment variables
        run: |
          echo "CURRENT_WEEK=$(date +'%Y-%U')" >> $GITHUB_ENV
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - uses: actions/cache@v4
        with:
          path: ${{ env.pythonLocation }}
          key: v1-${{ env.CURRENT_WEEK }}-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml') }}-${{ hashFiles('constraints.txt') }}
      - name: Install dependencies
        run: |
          python -m pip install uv
          uv pip install --system -c constraints.txt -e .[dev]
      - name: Run pytest
        run: |
          make test_very_fast
  gpu:
    # These steps run on our self-hosted k8s GPU runners. See below for setup notes
    # https://github.com/ai2cm/long-lived-infrastructure#installing-the-github-actions-runner-controller
    # Additionally, skip if the target repo isn't ai2cm/ace, lest it tries to run in forks
    if: ${{ github.repository == 'ai2cm/ace' }}
    runs-on: arc-runner-set
    steps:
      - uses: actions/checkout@v6
      - name: Set environment variables
        run: |
          echo "CURRENT_WEEK=$(date +'%Y-%U')" >> $GITHUB_ENV
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - uses: actions/cache@v4
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.CURRENT_WEEK }}-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml') }}-${{ hashFiles('requirements-healpix.txt') }}-${{ hashFiles('constraints.txt') }}
      - uses: actions/cache@v4
        with:
          path: .venv
          key: ${{ env.CURRENT_WEEK }}-.venv-${{ hashFiles('pyproject.toml') }}-${{ hashFiles('requirements-healpix.txt') }}-${{ hashFiles('constraints.txt') }}
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y make git build-essential
          python -m pip install uv
          # can't use --system here because it doesn't work with --no-build-isolation and a healpix dependency
          if [ ! -d ".venv" ]; then uv venv --python 3.11; fi
          uv pip install -c constraints.txt -e .[dev]
          uv pip install --no-build-isolation -c constraints.txt -e .[dev,healpix,graphcast]
      - name: Run CUDA check and pytest
        run: |
            source .venv/bin/activate
            export PATH=/usr/local/nvidia/bin:${PATH}
            export LD_LIBRARY_PATH=/usr/local/nvidia/lib64:${LD_LIBRARY_PATH}
            python3 fme/require_gpu.py
            make test
            # matrix for parallel tests
            # | backend | WS | H | W |
            # | ------- | -- | - | - |
            # | torch   |  2 | 1 | 1 |
            # | model   |  2 | 2 | 1 |
            # | model   |  2 | 1 | 2 |
            NPROC=2  FME_DISTRIBUTED_BACKEND=torch FME_DISTRIBUTED_H=1 FME_DISTRIBUTED_W=1 make test_parallel
            NPROC=2  FME_DISTRIBUTED_BACKEND=model FME_DISTRIBUTED_H=2 FME_DISTRIBUTED_W=1 make test_parallel
            NPROC=2  FME_DISTRIBUTED_BACKEND=model FME_DISTRIBUTED_H=1 FME_DISTRIBUTED_W=2 make test_parallel

      - name: Run GPU benchmarks
        if: ${{ github.repository == 'ai2cm/ace' && github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        env:
          WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
        run: |
            source .venv/bin/activate
            export PATH=/usr/local/nvidia/bin:${PATH}
            export LD_LIBRARY_PATH=/usr/local/nvidia/lib64:${LD_LIBRARY_PATH}
            export TORCH_ALLOW_TF32_CUBLAS_OVERRIDE=1
            python3 -m fme.core.benchmark.run --wandb-project ai2cm/fme-core-benchmarks-ci
